* {
    box-sizing: border-box;
    display: flex;
}

.page1 {
    background-color: #111111;
}

.page2 {
    background: url("airport1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}