* {
    box-sizing: border-box;
 
}
body {
    margin: 0;
    padding: 0;
    display: flex;
}
.page1 {
    background-color: #111111;
    
}
a {
    color: none;
}

.page2 {
    background: url("airport1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}